@media (max-width: 1600px) {
    .container {
        max-width: 1400px;
        padding: 0 5px;
    }
    .header__logo {
        flex: 2;
    }
}
@media (max-width: 1400px) {
    .container {
        max-width: 1024px;
        padding: 0 46px;
    }

    .section__offset {
        padding: 30px 0;
    }

    .section__subtitle {
        line-height: 28px;
    }

    .header {
        padding: 26px 0 25px;
        margin-bottom: 32px;
    }

    .header__logo {
        max-width: 145px;
    }

    .header__nav.nav {
        flex: none;
    }

    .header__nav .nav__list {
        gap: 60px;
    }

    .main__content {
        padding: 166px 77px;
    }

    .main__title {
        max-width: 770px;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 16px;
    }

    .main__descr {
        font-size: 20px;
        margin-bottom: 60px;
    }

    /*about*/
    .about {
        margin-bottom: 20px;
    }

    .about__columns {
        flex-direction: column;
    }

    .about__column {
        width: 100%;
    }

    .about__detail {
        min-height: 640px;
    }

    .services__item:nth-child(odd),
    .services__item:nth-child(even) {
        background-position: 79px 54%;
        background-size: 192px 165px;
    }

    .services__article {
        margin-left: 166px;
    }

    /*stages*/
    .stages__descr:nth-child(odd) {
        line-height: 32px;
        margin-bottom: 25px;
    }

    .stages__columns {
        align-items: stretch;
        gap: 50px;
    }

    .stages__img {
        position: relative;
        height: 98%;
        width: 99%;
        object-fit: cover;
        top: 2%;
    }

    /*questions*/
    .questions {
        padding: 50px 0 80px;
    }

    .list__questions {
        flex-wrap: wrap;
    }

    .item__questions {
        width: 100%;
    }

    .footer .section__descr {
        display: none;
    }

    .form__content {
        margin-left: 12%;
    }

    .form__input,
    .form__textarea {
        width: 541px;
    }

    .form__wrapper {
        min-width: 541px;
    }

    .form__btn {
        padding: 19px 37px;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 768px;
        padding: 0 50px;
    }

    .header {
        padding: 17px 0 16px;
    }

    .header__logo {
        max-width: 110px;

    }

    .header__nav .nav__list {
        gap: 40px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    .main__content {
        padding: 160px 40px;
    }

    .main__title {
        max-width: 588px;
        font-size: 50px;
        line-height: 57px;
    }

    .main__descr {
        max-width: 588px;
        font-size: 18px;
    }

    .about__detail {
        min-height: 650px;
    }

    .detail__content {
        padding: 34px 40px;
    }

    .detail__text {
        max-width: 366px;
        line-height: 30px;
    }

    .services__item {
        padding: 35px 46px;
    }

    .services__item:nth-child(odd),
    .services__item:nth-child(even) {
        background-position: 42px 54%;
        background-size: 112px 135px;
    }


    .services__article {
        margin-left: 120px;
    }

    .stages__columns {
        flex-direction: column-reverse;
        align-items: start;
        gap: 38px;
    }

    .stages__column {
        width: 100%;
    }

    .stages__img {
        min-width: 78%;
        max-height: 288px;
    }

    .stages__descr {
        min-width: 78%;
    }

    .item__questions {
        padding: 35px 65px 35px 40px;
    }

    .footer__columns {
        flex-direction: column-reverse;
    }

    .footer__nav {
        display: none;
    }

    .form__content {
        margin-left: 0;
        margin-bottom: 50px;
    }

    .form__wrapper {
        max-width: 541px;
    }

    .footer__title {
        line-height: 83px;
        margin-bottom: 25px;
    }
}

@media (max-width: 685px) {
    :root {
        --brdr-btn: 8px;
        --brdr: 16px;
    }

    .container {
        max-width: 320px;
        padding: 0 15px;
    }

    .section__offset {
        padding: 60px 0 0 0;
    }

    .section__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .section__subtitle {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }

    .section__descr {
        font-size: 14px;
        line-height: 28px;
    }

    .btn {
        font-size: 12px;
        padding: 12px 44px;
    }

    .header {
        min-height: 130px;
        margin-bottom: 20px;
    }

    .header__nav {
        display: none;
    }

    .icon__search {
        order: 3;
    }

    .burger {
        display: block;
        position: relative;
        border: 1px solid currentColor;
        border-radius: 3px;
        color: #FF9900;
        width: 40px;
        height: 40px;
    }

    .burger__line {
        position: absolute;
        border-radius: inherit;
        left: 50%;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 13px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__line:nth-child(3) {
        bottom: 13px;
    }

    /*main*/
    .main__container {
        min-height: auto;
    }

    .main__content {
        padding: 60px 21px;
        text-align: center;
    }

    .main__title {
        font-size: 20px;
        line-height: 25px;
        max-width: 247px;
        margin-bottom: 5px;
    }

    .main__descr {
        max-width: 247px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 32px;
    }

    .main__btn {
        padding: 13px 28px;
        font-size: 12px;
    }

    /*about*/
    .about {
        margin-bottom: 0px;

    }

    .about__detail {
        /* flex-direction: column; */
        padding: 0;
        min-height: auto;
        background: none;
        overflow: inherit;
    }

    .about__descr {
        margin-bottom: 12px;
    }

    .about__img--mob {
        display: block;
        border-radius: var(--brdr);
        margin-bottom: 12px;
    }

    .detail__content {
        flex-direction: column;
        align-items: start;
        padding: 0;
        background: none;
        color: inherit;
        font-weight: 400;
    }

    .detail__text {
        margin-bottom: 12px;
    }

    .btn__about {
        color: #FF9900;
    }

    .services__list {
        gap: 28px;
    }

    .services__item {
        padding: 0;
        border: none;
    }

    .services__item:nth-child(odd) {
        background: url(../img/services_bg_odd_mob.svg) no-repeat;
    }

    .services__item:nth-child(even) {
        background: url(../img/services_bg_even_mob.svg)no-repeat;
    }

    .services__item:nth-child(odd),
    .services__item:nth-child(even) {
        background-position: top left;
        background-size: 63px 49px;
    }

    .services__article {
        margin-top: 56px;
        margin-left: 0;
    }

    /*stages*/
    .stages__columns {
        gap: 24px;
    }

    .stages__descr:nth-child(odd) {
        line-height: 28px;
    }

    .btn__container {
        gap: 10px;
    }

    .btn__secondary {
        padding: 12px 32px;
    }

    .list__questions {
        gap: 26px;
    }

    .item__questions {
        padding: 0;
        border: none;
    }

    .questions {
        margin-bottom: 45px;
    }

    .footer {
        padding: 30px 0 9px;
    }
        .form__content {
          
            margin-bottom: 40px;}
    .form__control {
        margin-bottom: 24px;
    }

    .form__input,
    .form__textarea {
        padding: 14px 20px;
        max-width: 290px;
    }

    .form__wrapper {
        min-width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .form__btn {
        padding: 13px 19px;
    }
        .footer__logo {
            width: 131px;
            margin-bottom: 0;
}
.social__icon {
    width: 40px;
}
.container__footer--nav{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
}