html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus-visible{
  outline: none;
 }
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

textarea {
  border: none;
  resize: none;
}

textarea,
input {
  -moz-appearance: none;
  outline: 0px none transparent;
  border: none;
}

img {
  max-width: 100%;
}
button{
  background: transparent;
  border: none;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url(../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-body: #fdfdfd;
  --color-body: #000000;
  --bg-btnMain-default: #ff9900;
  --bg-btnMain-focus: #ffb84d;
  --bg-btnMain-hover: #ffb84d;
  --bg-btnMain-active: #e1670e;
  --bg-btn-default: transparent;
  --bg-btn-focus: #666666;
  --bg-btn-hover: #666666;
  --bg-btn-active: #000000;
  --btn-brd: 1px solid #000000;
  --brdr-btn: 16px;
  --bg-footer: #000000;
  --brd: 1px solid #cacaca;
  --brdr: 32px;
  --bg-icon-default: #666666;
  --bg-icon-focus: #ff9900;
  --bg-icon-hover: #ff9900;
  --bg-icon-active: #e1670e;
  --color-wh: #ffffff;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-body);
  background: var(--bg-body);
}

/*glob*/
.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1800px;
  /* padding: 0 15px; */
  padding: 0 5px 0 25px;
  margin: 0 auto;
}

.section__offset {
  padding: 50px 0;
  }

.section__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.section__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
}

.section__descr {
  margin: 0;
}

.btn {
  position: relative;
  padding: 20px 38px;
  outline: none;
  border-radius: var(--brdr-btn);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-wh);
  background-color: var(--bg-btnMain-default);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: var(--bg-btnMain-focus);
  box-shadow: none;
}

.btn:hover {
  background-color: var(--bg-btnMain-hover);
  box-shadow: none;
}

.btn:active {
  background-color: var(--bg-btnMain-active);
  box-shadow: none;
}

.btn__secondary {
  background-color: var(--bg-btn-default);
  font-weight: 400;
  color: var(--color-body);
  outline: var(--btn-brd);
}

.btn__secondary:focus {
  outline: none;
  background-color: var(--bg-btn-focus);
  color: var(--color-wh);
}

.btn__secondary:hover {
  outline: none;
  background-color: var(--bg-btn-hover);
  color: var(--color-wh);
}

.btn__secondary:active {
  outline: none;
  background-color: var(--bg-btn-active);
  color: var(--color-wh);
}

/*header*/
.header {
  margin: 0;
  margin-bottom: 44px;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 32px 32px;
  background-color: #fff;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  flex: 4.5;
}
.header__nav.nav {
  flex: 3;
}
.header__nav .nav__list {
  font-size: 18px;
  font-weight: 600;
  gap: 85px;
}

.header__nav .nav__list .nav__item {
  position: relative;
}

.header__nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid var(--bg-icon-focus);
  border-radius: inherit;
  outline: none;
  opacity: 0;
}

.header__nav .nav__list .nav__item .nav__link:focus::after {
  opacity: 1;
}
.header__nav .nav__list .nav__item .nav__link:hover{
  border-bottom: 1px solid var(--bg-icon-focus);
}
.header__nav .nav__list .nav__item .nav__link:active{
color: #E1670E;
  border-bottom: 1px solid var(--bg-icon-active);
}
.search__container {
  display: none;
}
.burger{
  display: none;
}
/*main__section*/
.main__container {
  background: url(../img/bg_main_section.jpg) no-repeat;
  background-size: cover;
  border-radius: var(--brdr);
  min-height: 620px;
}
.main__content {
  padding: 100px 80px;
  color: var(--color-wh);
}
.main__title {
  max-width: 837px;
  font-size: 70px;
  font-weight: 900;
  line-height: 84px;
}
.main__descr {
  max-width: 790px;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 90px;
}
.main__btn {
  padding: 25px 39px;
  font-size: 23px;
}
/*about*/
.about__title {
  margin-bottom: 21px;
}
.about__descr {
  max-width: 1235px;
  margin-bottom: 50px;
}
.about__columns {
  gap: 32px;
}
.about__column {
  width: calc((100% - 32px) / 2);
}
.about__img--mob{
  display: none;
}
.about__detail {
  align-items: flex-end;
  height: 100%;
  background: url(../img/bg_about.jpg) no-repeat;
  background-size: cover;
  border-radius: var(--brdr);
  overflow: hidden;
}
.detail__content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--brdr);
  color: var(--color-wh);
  font-weight: 700;
}
.detail__text {
  max-width: 433px;
}
.btn__about {
  background: transparent;
  /* border: 3px solid #FF9900; */
  /* border-style: inset; */
  box-shadow: inset 0px 0px 0px 3px #FF9900;
}
.services__list {
  flex-direction: column;
  gap: 32px;
}
.services__item {
  justify-content: center;
  padding: 65px 60px;
  border: var(--brd);
  border-radius: var(--brdr);
 
}
.services__item:nth-child(odd) {
  background: url(../img/services_bg_odd.svg) no-repeat;
  background-position: 58px 50%;

  background-size: 190px 165px;
}
.services__item:nth-child(even) {
  background: url(../img/services_bg_even.svg) no-repeat;
  background-position: 58px 50%;

  background-size: 190px 165px;
}
.services__article {
    max-width: 452px;
    margin-left: 180px;
}

/*stages*/
.stages__columns {
    align-items: end;
    gap: 32px;
  }
  .stages__column {
    width: calc((100% - 32px) / 2);
  }
.stages__descr{
    max-width: 758px;
    line-height: 32.8px;
   
}
.stages__descr:nth-child(odd){
    margin-bottom: 14px;
}
.btn__container {
    gap: 32px;
}
.stages__img{
    vertical-align: bottom;
    border-radius: var(--brdr);
}
/*questions*/
.questions {
  padding: 50px 0 100px;
}
.list__questions{
  --offsets: 2;
  gap:32px;
  
}
.item__questions{
  padding: 65px 60px;
    width: calc((100% - (32px * var(--offsets))) / (var(--offsets) + 1));
    border: var(--brd);
    border-radius: var(--brdr);
}
/*footer*/
.footer{
  background: var(--bg-footer);
  color: #CACACA;
}
.footer__columns{
  justify-content: space-between;
  
}

.footer__column:last-child{
  align-self:center;
 }
 .footer__logo {
   display: inline-block;
   margin-bottom: 10px;
 }
.footer__nav .nav__list {
  font-size: 18px;
  font-weight: 600;
line-height: 36px;
margin-bottom: 90px;
}
.footer__nav .nav__list .nav__item {
  position: relative;
}
.footer__nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid var(--bg-icon-focus);
  border-radius: inherit;
  outline: none;
  opacity: 0;
}

.footer__nav .nav__list .nav__item .nav__link:focus::after {
  opacity: 1;
}

.footer__nav .nav__list .nav__item .nav__link:hover {
  border: none;
  color: #FF9900;
}

.footer__nav .nav__list .nav__item .nav__link:active {
  border: none;
  color: #E1670E;
  }
.social_list{
  gap: 25px;
}
.social__icon {
  fill: #666666;
  transition: fill 0.3s ease-in-out;
}
.social__link.social__link--ok:focus {
  outline: 1px solid var(--bg-icon-focus);
  outline-offset: 4px;
}
.social__link.social__link--ok:hover .social__icon{
  fill: var(--bg-icon-hover);
    outline: none;
}
.social__link.social__link--ok:active .social__icon {
  fill: var(--bg-icon-active);
  outline: none;
}
.social__link.social__link--vk:focus {
  outline: 1px solid #0077ff;
  outline-offset: 4px;
}

.social__link.social__link--vk:hover .social__icon {
  fill: #0077ff;
  outline: none;
}

.social__link.social__link--vk:active .social__icon {
  fill: #002290;
  outline: none;
}
.form__content{
  margin-left: 10%;
}
.form__control{
  flex-direction: column;
  gap: 25px;
  margin-bottom: 27px;
}
.form__input {
  padding: 14px 24px;
background-color: #414141;
  border-radius: 16px;
  width: 570px;
  height: 60px;
  color: #CACACA;
  transition: background-color 0.3s ease-in-out;
}
.form__input:focus {
  background-color: #666666;
  }


.form__input:hover {
  background-color: #666666;
  }


.form__input:active {
     background-color:#666666;
}

.form__textarea {
  padding: 16px 28px;
  background-color: #414141;
  border-radius: 16px;
  resize: none;
  width: 570px;
  height: 100%;
  min-height: 150px;
  color: #CACACA;
  transition: background-color 0.3s ease-in-out;
}
.form__textarea:focus {
  background-color: #666666;
}

.form__textarea:hover {
  background-color: #666666;
}

.form__textarea:active {
  background-color: #666666;
}
.form__wrapper {
  width: 100%;
  min-width: 570px;
  justify-content: space-between;
  align-items: center;
}
.form__btn{
  padding: 19px 52px;
}
.form__check {
  user-select: none;
  cursor: pointer;
}
.custom-checkbox-input{
  position: absolute;
    appearance: none;
}
.custom-checkbox-text{
  position: relative;
  padding-left: 20px;
}
.custom-checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #CACACA;
  transform: translateY(-50%);
}

.custom-checkbox-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-checkbox-input:checked+.custom-checkbox-text:after {
  opacity: 1;
}


.footer .section__descr{
  max-width: 363px;
}